<div>
    <h1>Welcome to your Dashboard User!</h1>
    <section id="schedule">
        <h2>Upcoming Appointments</h2>
        <section id="scheduledappointments">Appoints appear here</section>
        <button id="appointment">Add Appointment</button>
    </section>
    <br>
    <div>
        <section id="userbabies">
            <button id="regbaby">Register Baby</button>
            <p id="reggedbabies">Registered babies load here</p>
        </section>
        <aside id="weatherboard">Upcoming weather</aside>
    </div>
    <script src="../public/js/dash.js"></script>
</div>