body{
    background-image: linear-gradient(to right, #BBE7FE, #FFD4DB,#F9EAC2,#ECFDF1, #FFD898, #B5EECB);
}

.btn {
    min-width: 250px;
}
#loginbtn, #signupbtn{
    background: -webkit-linear-gradient(right, #BBE7FE, #FFD4DB,#F9EAC2);
}
.center {
    text-align: center;
}
#weatherandbabies{
    display: block;
    margin: 10px;
}
#userbabies{
    float: right;
    border: black solid 2px;
    width: 70%;
    background-color: #84e6b5;
}
#weatherboard{
    float: left;
    border: black solid 2px;
    width: 20%;
    background-color: #FFD898;
}
